{% extends 'accounts/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<br>

<div class="container">
	<div class="row">
		<div class="col-md">
			<div class="card card-body mb-3 text-white" id="left-card">
				<h5 class="text-center">Customer: {{ customer.name }}</h5>
				<hr>
				<a class="btn btn-success  btn-sm btn-block" href="{% url 'create_order' customer.pk %}">Place Order</a>
				<a class="btn btn-info  btn-sm btn-block" href="{% url 'update_customer' customer.pk %}">Update Customer</a>
				<a class="btn btn-danger  btn-sm btn-block" href="{% url 'delete_customer' customer.pk %}">Delete Customer</a>
			</div>
		</div>

		<div class="col-md">
			<div class="card card-body mb-3 text-white" id="middle-card">
				<h5 class="text-center">Contact Information</h5>
				<hr>
				<p><strong>Email: </strong>{{ customer.email }}</p>
				<p><strong>Phone: </strong>{{customer.phone }}</p>
			</div>
		</div>

		<div class="col-md">
			<div class="card card-body mb-3 text-white" id="right-card">
				<h5 class="text-center">Total Orders</h5>
				<hr>
				<h1 style="text-align: center; padding: 10px">{{ order_count }}</h1>
			</div>
		</div>
	</div>


	<br>
	<div class="row">
		<div class="col">
			<div class="card card-body">
				<form method="GET">
					{{ my_filter.form|crispy }}
			    <button class="btn btn-primary" type="submit">Search</button>
			  	</form>
			</div>
		</div>
		
	</div>
	<br>

	<div class="row">
		<div class="col-md">
			<div class="card card-body mb-4">
				<table class="table table-sm">
					<tr>
						<th>Product</th>
						<!-- <th>Category</th> -->
						<th>Note</th>
						<th>Date Ordered</th>
						<th>Status</th>
						<th>Update</th>
						<th>Delete</th>
					</tr>

					{% for order in orders|dictsortreversed:"date_created" %}
						<tr>
							<td>{{ order.product.name }}</td>
							<!-- <td>{{ order.product.category }}</td> -->
							<td>{{ order.note }}</td>
							<td>{{ order.date_created }}</td>
							<td>{{ order.status }}</td>
							<td><a class="btn btn-sm btn-info" href="{% url 'update_order' order.id %}">Update</a></td>
							<td><a class="btn btn-sm btn-danger" href="{% url 'delete_order' order.id %}">Delete</a></td>
						</tr>
					{% endfor %}

				</table>
			</div>
		</div>
	</div>
</div>

{% endblock content %}