{% extends 'accounts/base.html' %}

{% block content %}

<br>

<div class="container">
	<div class="row">
		<div class="col-md">
			<!-- <div class="card card-body mb-4"> -->
				<h5 class="text-center">PRODUCTS</h5>
				<hr>
			<div class="card card-body mb-4">
				<a class="btn btn-primary btn-sm-btn-block" href="{% url 'create_product' %}">Create Product</a>
				<br>
			<!-- </div>
			<div class="card card-body"> -->
				<table class="table">
					<tr>
						<th>Product</th>
						<th>Category</th>
						<th>Description</th>
						<th class="text-right">Price</th>
						<th></th>
						<th></th>
					</tr>

					{% for product in products %}
						<tr>
							<td>{{ product.name }}</td>
							<td>{{ product.category }}</td>
							<td>{{ product.description }}</td>
							<td class="text-right">{{ product.price }}</td>
							<td class="text-center"><a class="btn btn-sm btn-info" href="{% url 'update_product' product.pk %}">Update</a></td>
							<td class="text-center"><a class="btn btn-sm btn-danger" href="{% url 'delete_product' product.pk %}">Delete</a></td>
						</tr>
					{% endfor %}

				</table>
			</div>
		</div>
	</div>
</div>

{% endblock content %}